{% extends 'bar/base.html' %}
{% block content %}
    
<table class="table table-dark">
        
    <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">opciones</th>
            
          </tr>
        </thead>
        <tbody>
                {% for i in ings %} 
          <tr>
            <td>{{i.pk}}</td>
            <td>{{i.nombre}}</td>
            <td>
                <a class="btn btn-secondary btn-lg active" role="button" href="{% url 'editar_ingrediente' pk=i.pk %}">editar</a>
                <a class="btn btn-danger btn-lg active" role="button" href="{% url 'borrar_ingrediente' pk=i.pk %}">borrar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
{% endblock %}